<div style='display: flex; justify-content: center; margin-top: 120px;'>
  <%= link_to 'Go to home page', '/', class: 'btn btn-primary'%>
  &nbsp;
  <%= link_to 'Export Data', data_export_path, method: :get, remote: true, class: 'btn btn-primary export-btn' %>
</div>
